!!! 5
%html
  %head
    %title zzBookmarkzz
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
  %body
    %div{:class => "container-fluid"}
      = render "common/navbar"
      = render "common/flashes"
      = yield
      = render "common/footer"
      
